<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header class="index">
      <nav class="nav-wrapper grey lighten-2">
        <div class="container">
          <a href="#" class="brand-logo light-blue-text text-darken-4"
            >EustaciArt</a
          >
          <a
            href=""
            class="sidenav-trigger light-blue-text text-darken-4"
            data-target="mobile-menu"
          >
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a
                href="#photos"
                class="tooltipped light-blue-text text-darken-4 btn grey lighten-2 z-depth-3"
                data-tooltip="About Us"
                >About Us</a
              >
            </li>
            <li>
              <a
                href="/auth/google"
                class="tooltipped light-blue-text text-darken-4 btn grey lighten-2 z-depth-3"
                data-tooltip="Log-In"
                ><span class="material-icons"> login </span></a
              >
            </li>
          </ul>
          <ul class="sidenav grey lighten-2" id="mobile-menu">
            <li>
              <a href="#photos" class="light-blue-text text-darken-4">About Us</a>
            </li>
            <li><a href="/auth/google" class="light-blue-text text-darken-4">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="container section" id="photos" >
      <div class="row">
        <div class="col s12 l3 mtop">
          <img
            id="financial-pres" 
            class="responsive-img"
            src="https://lh3.googleusercontent.com/e25xskwZjk9xye6PFORr9XWyZJB4eEL8OzZorB8xhe7PhDVsvVm3Tu6rLSGMBZsHbYRGUdc119wYzlVPwZnS0ojdozZhYlpcWKokj40g_a2hSbW31BkuOXm4Kz1VItInJ964HVDHSaubehLDeGKWSCEBxTuyyOgqLEe1_3GzSmLhBa277eSgiiupFCSvPyhsU_f30Z1Lg66T3nvDvbEkXIEo5b5lhM2YZefh3IK0VmFNaWRD4u3QM8m3UX1wjvJZ4anE5lk0_RKAoFcQnYmMGPphc2fTZQgKN-89Av8c49LHOnoOXbHU4AILpoC2esl89Ddsst1QFcafn9fgHGev7pPyQuzm_ebl8FXuy1BS0I-YHc6jBbITNo3FmU4T6IgE6yGe3NVn-k44vSlrIz6hmWttX6dA0uizeklDkH6bGtCSon-G5beJgyulQnl0NqDqScxR5HS_ylGqyNDBEnze83x4yMFpiZKvMUUxs2kKiIWoY4a4rK9p-bgGuWkK0qJNV8dbzvU3ii8bs5HI1zwU5v275qIb_s5rqXXLoqZqThVyTPaWWW6ptmX4kV0Q7jRnSMFMaBhxFPs_577fkz6yMNd1l0h1kc60dikhdAKpaiv9_PLAq94uPYQ7QLFwxQu_QDHKtomYu6T1cJgKj-befHX_Vi5roEVKCbz0PQIlD6Ml9GKo0tCaIk9LHWvM_T7UB7L4K7DOa1XEw2iaWKnLxcLl3PDg6KMSB2zqb5IsdmUx1rO3E3qrNpUGVb47T90_W3W-_WMQgX3Gq20qn-Ioy584uCW4iiWgyVAXsxk1jj40Y0L9zywWRkR5flTwidw6AcYXGnked9ikfpM29Zcu1NX3K5kG2alx_83CMP58-CNfXsKyIwSoTP_t937Gp-35Sk1GPFPG5G_9MdL0BiYph5hPlbYLBukNlVH0Q-vYiUZ7Cbbb=w1216-h994-no?authuser=0"
            alt=""
          />
        </div>
        <div class="col s12 l6 offset-l3">
          <h2 class="light-blue-text text-darken-4">
            Self Employed Bookkeping
          </h2>
          <p>
            EustaciArt's service and dedication are to improve our
            self-employed clients bookkeeping procedures and process to
            demonstrate them their numbers in an understandable way.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="right col s12 l4 goals mtop">
          <img
            id="financial-pres"
            src="https://lh3.googleusercontent.com/DvQPvPZaBczm9nbFuLIIl2YpBQFrxsJeQboXmgHGsoqD4HoT_kHfRiMnoX7Y_WbGUrXoKsKblzGKiB5MZRRmDTu6Z_ySGFx5SaN6Ovg2OzGprQ5VnKpSEFJCmjcdxqyJul8aAg7ON7LCiax8GcWBMiVs9hHv5Dbk9tsMTyZ6xs_bdouhGFeAV6HIIy_HZV8qDPTJ6Lga14Gzu_XH7thZZsNrPaTqV47fB0HGJyGa50OlokwF2tEkw9Z-u4tT1IfIkb3Q7rSu8wIilwv_KY3lPQmA4FXr1A5bl-xlcy8aKU89fVQeueL3EbgmsPnpqj6MPKVuJhEPLet8WtInHJ1_optkWu13TF2OtVNwaerWVn4p5mZSepyN_8tB5qkMZVmWGSQ0z_XJxi-LwjWobHWHq706Ohu4lNCPDydAez5141JfSZbqltMpx6B8H6nnUc3ayaYy-_RAw2xZb2WIU-bdLlq85HbgxXyCYjTnIYz-QuUU98iu2MQQuSy2sGpchHBQdLwVmp7ub7k4CkxnCtNH9JphkTmPtOb4V-ssFtblXaZoZD412lpFsPSsjebS5LiKa7cbML7R7fKCGM3XiSClM_txXbPynzoSHTwbqSlWNBi25xlvWYvyNy9ojZM42C_4EzhIS_MlGy1dWGoVFypmw4NycbwLdHnvNl2lJZXidtn138w7-jAVPoOMG7SBUqsaBtXYvFRVyS08UdDcu3tuh2wdIiCkVupFjLz5dcV79wRcmYUyyGfQprongRSpAa1prv1PltAumufF7N-EF9Wi13wRHB4TqBBkbHQiVSFgiHsdFYwmZHIJYhZnZEZN1Stmt566dGMiRRKfAnUxQPl3vMyWaQoG5Vxf7gpHaubGXwEwuku4a0CkK7r_dGL0ukHEYSwRmiCVukCx7yfO6F2A0MvCGV1wbQ-dW5ieGDev1saH0pCq=w1322-h998-no?authuser=0"
            alt=""
            class="responsive-img"
          />
        </div>
        <div class="col s12 l6">
          <h2 class="light-blue-text text-darken-4">
            Expense & Revenue Tracking
          </h2>
          <p>
            EustaciArt provides a different solution to its clients to track
            their invoices and receipts. They will be more aware after using
            EustaciArt Self-Employed Bookkeping application
          </p>
        </div>
      </div>
    </section>

    <footer class="page-footer footer-copyright grey darken-4">
      <div class="container left-align">
        &copy; 2022 EustaciArt &#124;
        <a
          href="https://github.com/Darnte" target="_blank"
          class="btn-floating grey darken-4"
        >
          <i class="fab fa-github"></i>
        </a>
        &#124;
        <a
          href="#"
          class="btn-floating grey darken-4"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
        href="https://linkedin.com/in/obawoledarnte9"
        class="btn-floating grey darken-4"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
      </div>
    </footer>
  </body>
</html>

