.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.index {
  background-image: url(https://lh3.googleusercontent.com/-H7S3ScKBX-E-gYxJ_TlePNhC5W2l09iVjdBqVjlpPER1U-Nl5l3ZFDpCs-A12WkOJhfJzBTp86JtlAmASUe5khlYC4YMa93qzQCfGvGheQn9sCKmduxT4PI1oUPyq5AXCg-zcMg7sl8Pd6-IUigVXjyPNtRb14qBLDo0BoRVpOCYNmjcy-i9KTBXWxaTnzNyl9bGIvnk2jVUqoWEVb-_dqHihDSV7T3D8tPVnzYr5N3uPgh7gEEgj32nTnvXJdUlyWxRoqhlRZFvziKycZ1YN7sf3RAh2wweoBqoVM2BrzlYF-j4mNwsEHEA1TIE44ajOKfuFAlTcBMjbtdgtJS4vY4YcOfXPXFJk8tiBbm3qH0C3h2mb0i57vaGBy-UcPZgdLjexcY-GDsdyKfMypagQH7PB_PnWlVRmYAkb7V1KzEy0hvY6QhU_cU1FYhl7VorgwolFgzNMtdCI1CV6Hn-jnfYufksMiezZTTqVU0Lqf7uKFhmbWrLGCiyJ-WVgeu6mfrPqgX1hT63hpsuqJ6GdVWUtBnYo6nFgv5oRTghLmPAZQFNIcUrwQvyupvBcvWAw6b0VnghIP0vrPMgXiqQk00hbj_wAFHlY74x0gdbgmSjQf4TcWHDj71xdVws4RKsVjRmS2SwjyHjKPPYVc5tBI3umlFTcA35-BzqIxwu8CFuLLAm7I3gL76CgexILYXdXduZOr2BJH6hl7MctlZcYPAvfD_Fu0sT4schCZPBTQ0WMisxd20yaUBuGQmcphrWuwIQ76j_-g3i5-6-ILfTMd4mj3zeD-pioHSCIQkp4YiISDyN90vsqDqLd6cNmPrIekh5wMWbUNBH-daNeEzQfQNM-JQe7O2JSJZ3rGDtqw188iYR0UcOC5D8YGfyLp7_sH4cdCKz35OFdGlppaGyD7cbfE0qiv47ZGOVGqlDUO9dz46=w2074-h1362-no?authuser=0);
  background-size:65%;
  background-position:center;
  min-height: 500px;
  min-width: 670px;
}
.sidenav{
  top: 300px;
  width: 230px;
  height: 400px;
}
.top{
  display: block;
  width: 100%;
  height: 100%;
} 
.centered{
  margin-top: 200px;
  margin-left: 60px;
}
.form-expense{
  margin-top: 250px;
}
.form-revenue{
  margin-top: 250px;
}
.total{
  display: flex;
  flex-direction: column;
}
.dropdown-content li>a, .dropdown-content li>span{
  color:#0d47a1;
}
.card-image{
  height: 100%;
  width: 100%;
}
.card_image{
  width: 100%;
  height: 150px;
}
/* .goals{
  display: flex;
} */
#financial-pres{
  /* justify-content: center; */
  height: 200px; 
  max-width: 300%;
  /* object-position: 10% 50%; */
}
.goals{
  justify-content: center;
  margin-right: 10%;
}
.mtop{
  margin-top: 4%;
}

@media screen and (max-width: 992px) {
  .sidenav {
    position: fixed;
  }
  .goals #financial-pres{
    justify-content: center;
    margin-left: 10%;
  }
  .index{
    background-size:80%;
    background-position:center;
  }
}
@media screen and (max-width: 670px) {
  header {
    min-height: 500px;
  }
  .goals #financial-pres{
    justify-content: center;
    margin-left: 10%;
  }
  .index{
    background-size:80%;
    background-position:left;
  }
}
@media screen and (max-width: 795px) {
  header {
    min-height: 300px;
    max-width: auto;
  }
  .goals #financial-pres{
    justify-content: center;
    margin-left: 10%;
  }
}